body {  
  font-family: sans-serif;
  color: #F0F0F0 !important;
  margin: 0;
  padding: 0;
}

header {
  background: #212121;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
}

#logo {
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 4px;
}

h1 {
  margin: 0;
  font-size: 1rem;
}

section {
  height: 100vh;
  padding: 3rem 1rem;
  box-sizing: border-box;
}

#home {
  background-color: #EE6823;
}

footer {
  margin: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
  box-sizing: border-box;
  background-color: #212121;
  color: #F0F0F0;
}
