@import './style/normalize.css';
/* Do not remove or modify normalize.css file for more info visit: https://necolas.github.io/normalize.css/ */
@import './style/header.css';
@import './style/home-section.css';
@import './style/about-section.css';
@import './style/members-section.css';
@import './style/footer.css';

body {
  font-family: sans-serif;
  font-size: 1.5rem !important;
  color: #F0F0F0 !important;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  padding: 45px 1rem 1.5rem 1rem;
  box-sizing: border-box;
}
